body {
    white-space: pre;
}

h1,
h2,
h3 {
    font-family: 'Syncopate', sans-serif;
}

p,
li,
div {
    font-family: 'Jura', sans-serif;
}

li:before {
    content: "\02766 \1F60C \027BA";
    margin-left: -35px;
    /* Insert content that looks like bullets */
    padding-right: 10px;
    /* Or a color you prefer */
}

li:after {
    content: "\027BA \1F61E \02766";
    /* Insert content that looks like bullets */
    padding-left: 10px;
    /* Or a color you prefer */
}