#popUp {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(155, 212, 214);
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#popUp.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

#colorChange {
    width: 100px;
    height: 100px;
}

.newClass {
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}

.altClass {
    margin: 5px;
    width: 150px;
    height: 200px;
    border-radius: 10%;
    text-align: center;
}

.fa {
    cursor: pointer;
}

.fa:hover {
    color: red;
}

.btnAlt {
    padding: 10px;
}

.btnNew {
    padding: 15px;
    border-radius: 20px
}