table,
tr {
    margin: 10px;
    border: 1px solid blue;
    padding: 10px;
}

table {
    //  width: 600px;
}

td {
    //  width: 100%;
    //  border: 1px solid darkgreen;
    padding: 10px;
}

h2 {
    color: blue;
}

h2#title::before {
    content: '\1F6D2';
}