* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
}

.scene {
  border: 1px solid #CCC;
  margin: 40px 0;
  position: relative;
  width: 300px;
  height: 280px;
  margin: 80px auto;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(-1411px);
          transform: translateZ(-1411px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 280px;
  height: 260px;
  left: 10px;
  top: 10px;
  border: 1px solid black;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.carousel__cell:nth-child(15n+1) {
  background: rgba(255, 0, 0, 0.8);
}

.carousel__cell:nth-child(15n+2) {
  background: rgba(255, 102, 0, 0.8);
}

.carousel__cell:nth-child(15n+3) {
  background: rgba(255, 204, 0, 0.8);
}

.carousel__cell:nth-child(15n+4) {
  background: rgba(102, 255, 0, 0.8);
}

.carousel__cell:nth-child(15n+5) {
  background: rgba(0, 255, 0, 0.8);
}

.carousel__cell:nth-child(15n+6) {
  background: rgba(0, 255, 102, 0.8);
}

.carousel__cell:nth-child(15n+7) {
  background: rgba(0, 255, 204, 0.8);
}

.carousel__cell:nth-child(15n+8) {
  background: rgba(0, 204, 255, 0.8);
}

.carousel__cell:nth-child(15n+9) {
  background: rgba(0, 102, 255, 0.8);
}

.carousel__cell:nth-child(15n+10) {
  background: rgba(0, 0, 255, 0.8);
}

.carousel__cell:nth-child(15n+11) {
  background: rgba(102, 0, 255, 0.8);
}

.carousel__cell:nth-child(15n+12) {
  background: rgba(204, 0, 255, 0.8);
}

.carousel__cell:nth-child(15n+13) {
  background: rgba(255, 0, 204, 0.8);
}

.carousel__cell:nth-child(15n+14) {
  background: rgba(255, 0, 102, 0.8);
}

.carousel__cell:nth-child(15n+15) {
  background: rgba(255, 0, 0, 0.8);
}

.carousel__cell:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(1411px);
          transform: rotateY(0deg) translateZ(1411px);
}

.carousel__cell:nth-child(2) {
  -webkit-transform: rotateY(24deg) translateZ(1411px);
          transform: rotateY(24deg) translateZ(1411px);
}

.carousel__cell:nth-child(3) {
  -webkit-transform: rotateY(48deg) translateZ(1411px);
          transform: rotateY(48deg) translateZ(1411px);
}

.carousel__cell:nth-child(4) {
  -webkit-transform: rotateY(72deg) translateZ(1411px);
          transform: rotateY(72deg) translateZ(1411px);
}

.carousel__cell:nth-child(5) {
  -webkit-transform: rotateY(96deg) translateZ(1411px);
          transform: rotateY(96deg) translateZ(1411px);
}

.carousel__cell:nth-child(6) {
  -webkit-transform: rotateY(120deg) translateZ(1411px);
          transform: rotateY(120deg) translateZ(1411px);
}

.carousel__cell:nth-child(7) {
  -webkit-transform: rotateY(144deg) translateZ(1411px);
          transform: rotateY(144deg) translateZ(1411px);
}

.carousel__cell:nth-child(8) {
  -webkit-transform: rotateY(168deg) translateZ(1411px);
          transform: rotateY(168deg) translateZ(1411px);
}

.carousel__cell:nth-child(9) {
  -webkit-transform: rotateY(192deg) translateZ(1411px);
          transform: rotateY(192deg) translateZ(1411px);
}

.carousel__cell:nth-child(10) {
  -webkit-transform: rotateY(216deg) translateZ(1411px);
          transform: rotateY(216deg) translateZ(1411px);
}

.carousel__cell:nth-child(11) {
  -webkit-transform: rotateY(240deg) translateZ(1411px);
          transform: rotateY(240deg) translateZ(1411px);
}

.carousel__cell:nth-child(12) {
  -webkit-transform: rotateY(264deg) translateZ(1411px);
          transform: rotateY(264deg) translateZ(1411px);
}

.carousel__cell:nth-child(13) {
  -webkit-transform: rotateY(288deg) translateZ(1411px);
          transform: rotateY(288deg) translateZ(1411px);
}

.carousel__cell:nth-child(14) {
  -webkit-transform: rotateY(312deg) translateZ(1411px);
          transform: rotateY(312deg) translateZ(1411px);
}

.carousel__cell:nth-child(15) {
  -webkit-transform: rotateY(336deg) translateZ(1411px);
          transform: rotateY(336deg) translateZ(1411px);
}
/*# sourceMappingURL=style.css.map */