.light {
    color: #f0ba08;
    border: 1px solid #ff444d;
    padding: 1em;
    font-family: 'Hind Siliguri', sans-serif;
}

.example {
    color: rgb(9, 78, 18);
    padding: 5px;
    width: 150px;
    font-size: 15px;
}

.click {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    color: #070070;
}