* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    //text-align: center;
}

p {
    font-size: 1em;
    span.red {
        color: #ff0000;
    }
    span.blue {
        color: #0000ff;
    }
    span.green {
        color: rgb(0, 255, 0);
        font-weight: bolder;
    }
}