.width {
    width: 135px;
    text-align: center;
}

h2 {
    font-family: 'Syncopate'
}

.my-text {
    font-family: 'Didact Gothic';
    // font-family: 'Great Vibes';
    font-size: 1.5em;
}

.my-text-select {
    font-family: 'Didact Gothic';
    background-color: aliceblue;
    // font-family: 'Great Vibes';
    font-size: 1em;
    color: blue;
    border-radius: 5px;
    padding: 4px;
}