h1,
h3 {
    font-family: 'Syncopate', sans-serif;
}

p,
li {
    font-family: 'Jura', sans-serif;
}

.changefont {
    font-family: 'Great Vibes';
    font-size: 2em;
    font-weight: bolder;
}

#addCls {}